[Desktop Entry]
Encoding=UTF-8
Name=System Log Monitor
Comment=Monitor the system log files for interesting events
Exec=bandsaw
Terminal=false
Type=Application
Icon=logviewer
StartupNotify=true
Categories=GNOME;Application;System;
